.whatsInsideRoot {
    padding: 0 5rem;
    scroll-margin-top: 100px;
    @media screen and (max-width: 768px) {
        padding: 0 10px;
    }
    button {
        background: none;
	    color: inherit;
	    border: none;
	    padding: 0;
	    font: inherit;
	    cursor: pointer;
	    outline: inherit;
        align-self: flex-start;
        margin-top: 200px;
    }

    h1 {
        text-align: center;
    }
    .pageSelector {
        display: flex;
        flex-direction: row;
    }
    .pageContent {
        display: flex;
        justify-content: center;
    }
    .pageText {
        position: relative;
    }
    
    p {
        margin: 0;
        padding: 1.8rem;
        background-color: white;
        box-shadow: -0.035rem 0.03rem 0.3rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        position: absolute;
        z-index: 1;
        transform: rotate(-1deg);
        top: 45%;
        left: 50%;
        font-size: 21px;
        border: 2px solid black;
        font-weight: 400;
        @media screen and (max-width: 768px) {
            max-height: 130px;
            padding: 15px;
            overflow: scroll;
        }
    }
    img {
        width: 70%;
        margin: 0 auto;
        margin-left: 100px;
        @media screen and (max-width: 768px) {
          margin-left: 0px;
          width: 100%;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .img-tape {
        position: relative;
        text-align: center;
        display: inline-block;
        margin: 20px auto 10px;
        
        &:before,
        &:after {
          background: rgba(255,255,235,.6);
          box-shadow: 0 1px 3px rgba(0,0,0,.4);
          content: "";
          display: block;
          height: 30px;
          position: absolute;
          margin: auto;
          width: 100px;
        }
      }
      
      .img-tape--1 {
        &:before {
          left: 50%;
          margin-left: -50px;
          top: -10px;
        }
      
        &:after {
          display: none;
        }
      }
      
      .img-tape--2 {
        &:before {
          left: 0;
          top: 10px;
          transform: rotate(-35deg);
        }
      
        &:after {
          right: 0;
          top: 15px;
          transform: rotate(45deg);
        }
      }
      
      .img-tape--3 {
        &:before {
          left: 0;
          top: 10px;
          transform: rotate(-45deg);
        }
      
        &:after {
          bottom: 10px;
          right: 0;
          transform: rotate(-35deg);
        }
      }
      
      .img-tape--4 {
        &:before {
          left: -30px;
          margin-top: -15px;
          top: 50%;
          transform: rotate(93deg);
        }
      
        &:after {
          margin-top: -30px;
          right: -30px;
          top: 50%;
          transform: rotate(89deg);
        }
      }
}

