@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.97);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.97);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.welcomeRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-image: url(/src/img/welcome-bg.png);
  background-size: cover;

}

.logo {
  width: 85%;
  height: 100%;
}
.logoWrapper {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  animation: fadeUp 1.5s ease-in-out;

}

.tagline {
  font-size: 21px;
}
/* .welcomeHeader {
  text-align: center;
}

.welcomeCard {
  display: grid;
  grid-template-areas:
    'logo logo book book book book'
    'txt txt book book book book'
    'txt txt book book book book';

}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
}

.logo {
  width: 40%;
  height: 85%;
  animation: fadeDown 1.5s ease-in-out;
} */

/* .bookWrapper {
  grid-area: book;
  display: flex;
  justify-content: center;
} */

/* .book {
  width: 95%;
  height: 95%;
  animation: fadeUp 1.5s ease-in-out;
} */
/* 
.welcomeText {
  grid-area: txt;
  font-size: 24px;
  font-weight: 600;
} */

.bookContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1200px;
  animation: fadeDown 1.5s ease-in-out;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 300px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.bookContainer:hover .book, 
.bookContainer:focus .book {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 300px;
  height: 450px;
  transform: translateZ(22.5px);
  background-color: #01060f;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 1px;
  width: 43px;
  height: 448px;
  transform: translateX(276.5px) rotateY(90deg);
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 300px;
  height: 450px;
  transform: translateZ(-22.5px);
  background-color: #01060f;
  border-radius: 0 5px 5px 0;
  box-shadow: -10px 0 50px 10px #666;
}


.productContainer {
  display: flex;
  gap: 55px;

}