.topMenu {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.topMenu h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.logo {
    padding: 25px 60px;
    background: url(/src/img/inverted-menu.jpg) no-repeat center;
    background-size: cover;
}